<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>✨ Website | {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block head %} {% endblock %}
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">Home</a>
        {% if 'userLogged' not in session %}
        <a href="{{ url_for('auth.login') }}">Sign In</a>
        <a href="{{ url_for('auth.register') }}">Sign Up</a>
        {% endif %}
        {% if 'userLogged' in session %}
        <a href="{{ url_for('account.profile') }}">Profile</a>
        <a href="{{ url_for('account.logout') }}">Logout</a>
        {% endif %}
    </header>
    {% block content %} {% endblock %}
</body>
</html>