* {
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    left: 15px; top: 30px;
}

header > a {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header > a:hover {
    background-color: black;
    color: white;
}