* {
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/auth/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


/* Flash */
.flash {
    padding: 10px;
}

.flash.success {
    border: 1px solid #21DB56;
    background-color: #AEFFC5;
}

.flash.error {
    border: 1px solid #FF4343;
    background-color: #FF9C9C;
}