* {
    margin: 0; padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: brown;
}

.error {
    margin: 100px 0 0 100px;
}

.error_code {
    background-color: black;
    color: green;
    padding: 0 10px;
}