{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth_window">
    {% for category, message in get_flashed_messages(true) %}
        <div class="flash {{category}}">{{message}}</div>
    {% endfor %}
    <form class="login" action="/login" method="post">
        <p>Login</p>
        <input type="text" value="" name="username" required>
        <p>Password</p>
        <input type="password" value="" name="password" required>
        <input type="submit" value="Login">
    </form>
    <a href="{{ url_for('register') }}">Don't have an account? Register Now!</a>
</div>
{% endblock %}