{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css') }}">
{% endblock %}

{% block content %}
<div class="auth_window">
    {% for category, message in get_flashed_messages(true) %}
        <div class="flash {{category}}">{{message}}</div>
    {% endfor %}
    <form class="register" action="/register" method="post">
        <p>Username</p>
        <input type="text" value="" name="username" oninput="this.value = this.value.toLowerCase()" pattern="[A-Za-z]+" required>
        <p>Display Name</p>
        <input type="text" value="" name="displayname" required>
        <p>Email</p>
        <input type="text" value="" name="email" oninput="this.value = this.value.toLowerCase()" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" pattern="[A-Za-z]+" required>
        <p>Password</p>
        <input type="password" value="" name="password" pattern="[A-Za-z]+" required>
        <p>Repeat Password</p>
        <input type="password" value="" name="repeat_password" pattern="[A-Za-z]+" required>
        <input type="submit" value="Register">
    </form>
    <a href="{{ url_for('login') }}">Alredy have an account? Login now!</a>
</div>
{% endblock %}